.App {
  text-align: center;
}

span,
p {
  color: #48CFA8;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  gap: 50px;
  margin: 5% auto;
  padding: 0 20px;
  justify-items: center;
}